.show-menu {
    display: block;
}

.user-button {
    margin-left: 2em;
    margin-right: 4em;
}

.top-row a {
    margin-left: 0;
}

.dropdown-item {
    padding-right: 0px;
}

    .dropdown-item:hover {
        background-color: white;
    }
